IG_USERNAME=xuan.xuan20000726
IG_APP_ID=1615475443693737
IG_APP_SECRET=
IG_USER_ID=
IG_ACCESS_TOKEN=
IG_REDIRECT_URI=https://xuanxuan20000726.github.io/xuanxuan/oauth/instagram/callback
META_GRAPH_VERSION=v24.0
SITE_URL=https://xuanxuan20000726.github.io/xuanxuan
IG_SCHEDULER_PORT=43170
